html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 border: 1px solid blue;
 position: relative;
}

.grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". grid1 grid2 grid3 grid4 .";
  background-color: white;
}

.grid1 { grid-area: grid1; }

.grid2 { grid-area: grid2; }

.grid3 { grid-area: grid3; color: blue; text-align: right; padding-top: 30px;}

.grid4 { grid-area: grid4; }
